/* 
css: cascading style sheet
    style the html pages

    syntax:
    selector{
        attribute: value;
        attributes: values
        color: 'red';
    }

    selector: all the html element, class, id
    types:
    1. element selector: all the html elements eg. p, heading, form, table,div, span
    2. class selector: user defined classes
                       start with dot(.)
                       multiple classes is possible in class
    3. id selector: user defined id's
                    start with hash(#)
                    only single id/unique id name is possible

    PRIORITY:
    id > class > element


    types of css
    1. inline css: within a html tag
    2. internal css: within a file
    3. external css: outside the file

*/
.demo{
    margin: 5px;
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: aqua;
    font-weight: bold;
    font-size: 35px;
    font-family: tahoma;
}